# Based on Google C++ Style Guide
# https://google.github.io/styleguide/cppguide.html

BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false

# For this educational project
CommentPragmas: ''
SortIncludes: true
IncludeBlocks: Regroup
