reports/
**/benchmark/tmp/
**/target/
tests/data/*.bin
**/*.enc
**/*.out
**/*.huf
**/*.rle
**/*.exe
**/*.o
**/*.a
**/*.so
**/*.d
**/huffman_cpp
**/arithmetic_cpp
**/rle_cpp
**/rangecoder_cpp
**/huffman_go
**/rle_go
**/huffman_rust
**/rle_rust
__pycache__/
**/__pycache__/
.pytest_cache/
